* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #fff;
  min-height: 100vh;
}

.page-container {
  height: calc(100vh - 72px);
  padding: 40px 56px 28px;
}
